#second-wrapper{
    position: relative;
    background-color: black;
    min-height: calc(60vh - 77px);
    padding: 10px;
    
}

.nb {
    position: absolute;
    background-color: orange;
    width: 100%;
    height: 100px;
    max-width: 100px;
    display: flex;
    border-radius: 50%;    
}

#myDiv {
    border: 3px dashed white;
}

.content {
    background-color: rgb(202, 108, 0);
    width: 100%;
    height: 70px;
    border-radius: 100px;
    margin-top: 15px;
}

.item-wrapper{
    width: 100%;
    height: 16vh;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.5s;
}

.item-wrapper:hover{
    transform: scale(1.1);
}

h2{
    position: absolute;
    left: 30%;
    top: 10%;
    font-size: 65px;
    font-weight: bold;
    color: white;
}

.content-wrapper{
    width: 100%;
    padding: 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pos{
    margin-top: 7%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.content-text{
    color: white;
    display: block;
    width: 100%;
    padding: 5px 30px;
    line-height: 1;
}

.content-text p{
    font-size: 15px;
    margin-left: 8%;
}

.content-text h3{
    font-size: 17px;
    margin-left: 8%;
    padding: 2px 0px;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}

@media only screen and (min-width: 320px) and (max-width: 860px) {

    .nb {
        width: 100%;
        height: 50px;
        max-width: 50px; 
    }

    h2{
        font-size: 30px;
    }

    .content {
        width: 100%;
        height: 35px;
        margin-top: 2%;
    }

    .content-wrapper{
        width: 100%;
        padding: 0px 20px;
    }

    .item-wrapper{
        height: 8vh;
    }

    .content-text{
        width: 100%;
        padding: 0px 20px;
    }

    .content-text p{
        font-size: 6px;
        margin-left: 10%;
        
    }
    
    .content-text h3{
        font-size: 8px;
        margin-left: 10%;
        padding: 2px 0px;
    }
}