#third-wrapper{
    background-color: black;
    position: relative;
    min-height: calc(50vh - 77px);
    padding: 0px 50px;
}

.contents-wrapper{
    image-rendering: pixelated;
    background-image: url(../../../assets/img/nen.png);
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 40px;
}

.icon-wrapper{
    cursor: pointer;
    transform: translate(0px, 0px);
    transform: scale(1);
    transition: all 0.5s;  
}

.icon-wrapper:hover{
    transform: translate(0, y);
    transform: translate(0px,-20px);
    -moz-transform: translate(0px,-20px);
    -webkit-transform: translate(0px,-20px);
    -o-transform: translate(0px,-20px);
    -ms-transform: translate(0px,-20px);
}

.item-center{
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.5s; 
}

.item-center:hover{
    
    transform: scale(1.2);
    
}

.icon{
    width: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-content {
    font-size: 25px;
    font-weight: bold;
    color: rgb(228, 225, 225);
}

@media only screen and (min-width: 320px) and (max-width: 860px) {

    .contents-wrapper{
        padding: 40px 40px;
    }

    .item-center{
        width: 100%;
        padding: 10px 40px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    
    .icon{
        width: 64px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    
    .text-content {
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }
  }